.dmain[data-model="6"] {
    --gcol: min-content 1.5fr auto 1fr auto 1fr auto 1fr;
    --grow: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    --gres: 9 span;
}

.dmain[data-model="9"] {
    --gcol: min-content 1.5fr auto 1fr auto 1fr auto 1fr auto 1fr;
    --grow: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    --gres: 12 span;
}

.dmain[data-model="12"] {
    --gcol: min-content auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    --grow: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    --gres: 9 span;
}

.dmain[data-model="15"] {
    --gcol: min-content auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    --grow: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    --gres: 10 span;
}

.dmain[data-model="18"] {
    --gcol: min-content auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    --grow: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    --gres: 12 span;
}

.dmain[data-model="21"] {
    --gcol: min-content auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    --grow: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    --gres: 15 span;
}

.dmain {
    background-color: rgb(236, 236, 228);
    color: rgb(86, 79, 150);
    display: grid;
    grid-template-columns: var(--gcol);
    grid-template-rows: var(--grow);
    overflow: hidden;    
    height: 96vh;
    width: 98vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.dmain > div {
    display: flex;
    align-items: center;
    padding: .3em;
}

.dmain > div.d {
    background-color: purple;
}

.dmain  > .jo  {
    background-color: lightgray;    
    writing-mode: vertical-rl;    
    justify-content:center;
    text-orientation: mixed;
    grid-row-end: var(--gres);
    margin-right: 1em;
}

.dmain > div.bl { /*bottom line*/
    justify-content: center;
    align-items: flex-end;
    border-bottom: solid 2px black;  
    min-width: 3em;  
}

.dmain > .jr { /*justify right*/
    justify-content: flex-end !important;
    align-items: center !important;
    min-width: 6em !important;
}

.dmain > div.rl { /*right line*/
    border-right: solid 2px black;
    justify-content: flex-end;
}

.dmain > div.c2 {
    grid-column-end: span 2;
}

.dmain > div.c3 {
    grid-column-end: span 3;
}

.dmain > div.c4 {
    grid-column-end: span 4;
}

.dmain > div.c5 {
    grid-column-end: span 5;
}

.dmain > div.c6 {
    grid-column-end: span 6;
}

.dmain > div.c7 {
    grid-column-end: span 7;
}

.dmain > div.c8 {
    grid-column-end: span 8;
}